{
  "presets": [
    "stage-2",
    "react"
  ],
  "plugins": [
    "lodash",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}